body{
    font-family: Arial, sans-serif;
    background-color: #cc7a8b;
    margin: 0;
    padding: 20px;
}
.message {
    background-color: #1dbce0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.chat{
    display: inline-block;
    background-color: #5acb30;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
}